.insuranceDatePicker{
    display: block;
    border-radius: 7px;
    height: 40px !important;
    width: 100% !important;
    /* outline: none !important; */
    border: 2px solid #c0c0c0;
    /* margin-bottom: 10px !important; */
}