.accordianSummary{
background-color: #FAFAFA;
} 
.accordianSummaryHeading{
color: #231F20;
font-family: "Calibri";
/* font-size: 1.2rem; */
font-style: normal;
font-weight: 550;
line-height: normal;
letter-spacing: 1.6px;
}
