.infoCodeContainer {
    display: flex;
    align-items: flex-end;
    /* flex-direction: row; */
    /* height: 45px; */
}

.ft_content {
    height:45px;
    text-align: center;
    background-color: lightgray;
    padding: 10px;
}
.tabsdesigning{
    color: black;
    font-family:"Poppins";
    font-style:"normal";
    font-weight: 600px !important;
    line-height: "normal";
    background-color: '#EDF2F6';
    outline: 'none';
    transition:background-color 0.1s ease; 
    transition: color 0.4s ease;
    border-radius: "20px 20px 0 0";
    text-transform: inherit !important;
 
  }


  .tabsdesigning:hover{
    background-color: #216FED;
    color: #FCFCFC;
    
  }