
.checkbox-container {
    display: flex;
    align-items: center;
    /* width: 20px;
    height: 20px;  */
  }
  
  .checkbox-label {
    margin-left: 5px;
  }

  .checkbox-container input[type="checkbox"] {
    width: 15px;
    height: 14px; 
    margin-left: 15px;
 
  }
  