.customDatePicker{
    display: block;
    border-radius: 7px;
    /* height: 40px !important; */
    width: 100%;
    outline: none !important;
    border: 2px solid #c0c0c0;
    /* margin-bottom: 10px !important; */
    /* Custom-styling/CustomDatePicker.css */

  }

  .customPopperClass .MuiPopover-paper .MuiTypography-root {
    font-size: 1.5rem; /* Change the font size of the text inside the Popper */
    font-family: 'YourCustomFont', sans-serif; /* Change the font family */
  }
  