.mainContainer {
  
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50% !important;
    border-radius: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.containerItem1 {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background-image:
    linear-gradient(to bottom, #1db38bc9, #004532e0),
    url('../../public/assets/pills.avif');
    object-fit: cover;
    background-size: cover;
    background-position: center;
    
}

.containerItem2 {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-image:
    linear-gradient(to bottom, #f6f6f6f2, #ffffff),
    url('../../public/assets/stones.jpg');
    object-fit: cover;
    background-size: cover;
    background-position: center;
    
}

.loginBtn{
    background:  linear-gradient(to bottom, #1db38bea, #004532);
}